body {
  background-image: url("/images/financial-independent-woman-buying-new-car.png");
  background-size: cover;
  font-family: "Kanit", sans-serif;
  font-family: "Maven Pro", sans-serif;
  padding: 0px;
  margin: 0px;
  
}

#title {
  font-family: Kanit;
  color: #104555;
  font-size: 35px;
  width: 300px;
  margin-left: 40px;
  margin-top:  100px;
  text-decoration: underline;
}

.desc{
  font-family: Maven Pro;
  color: #104555;
  font-size: 20px;
  width: 300px;
  margin-left: 40px;
  margin-top:  20px;
  
}

.motto{
  font-family: Maven Pro;
  color: #104555;
  font-size: 23px;
  width: 300px;
  margin-left: 40px;
  margin-top:  20px;
  font-weight: bold;
}

.btn {
  margin-left: 40px;
  margin-top:  10px;
  padding: 8px 16px 8px 16px;
  border: none;
  background-color: #104555;
  color: whitesmoke;
  font-family: Kanit;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
}

.cont {
  font-family: Maven Pro;
  color: #104555;
  font-size: 20px;
  width: 300px;
  margin-left: 40px;
  margin-top:  340px;
  font-weight: bold;
  margin-bottom: 0px;
}

.contt {
  font-family: Maven Pro;
  color: #104555;
  font-size: 15px;
  width: 300px;
  margin-left: 40px;
  margin-top:  6px;
  margin-bottom: 0px;

}

.conttt {
  font-family: Maven Pro;
  color: #104555;
  font-size: 15px;
  width: 300px;
  margin-left: 40px;
  margin-top:  2px;
  margin-bottom: 0px;
}

.contttt {
  font-family: Maven Pro;
  color: #104555;
  font-size: 15px;
  width: 300px;
  margin-left: 40px;
  margin-top:  2px;
  margin-bottom: 0px ;
}